body
{
    margin-left: 40px;
    margin-right: 40px;
    text-align: justify;
}
h1
{
    text-align: center;
    border-bottom: 1px solid black;
}
footer f1
{
    background-color: #fff;
    color: black;
    padding: 10px 0;
    text-align: center;
}