body
{
    margin: 0;
    padding: 0;
    width: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url('../../images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    backdrop-filter: blur(4px);
}
/* html, body {
    overflow-x: hidden;  Hide horizontal scrollbar 
  } */


  /* bg color: #f7eddc */
.heading{
    display: flex;
    justify-content: space-evenly;
    padding-top: 65px;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.left
{
    font-size: 10px;
    width: 600px;
    color: white;
}
.right
{
    width: 440px;
    height: 440px;
    background-image: url('food.jpg');
    background-size: cover;
    border-radius: 50%;
    border: 2px solid wheat;
    display: flex;
    justify-content: center;
    align-items: center;
    /* animation: imageLoop 2s linear; */
    transition: background-image 1s linear;
}

.right::before
{
    width: 430px;
    height: 430px;

    content:'';
    position: absolute;
    border-radius: 430px;
    padding: 10px;
}

/* #food1,#food2{
    background-size:cover;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin:0px 20px;
}
#food1{
    background-image: url('main-course1.jpg');
}
#food2{
    background-image: url('gps.jpg');
} */
.menu{
    display: flex;
    margin:0px 100px;
}
.left p:nth-child(1)
{
    color: white;
    font-size: 2.6em;
    letter-spacing: 1px;
    width: inherit;
}
.left h1{
    font-size: 30px;
    color: white;
}
/* .left p:nth-child(3)
{
    color:white;
    font-size: 30px;
    letter-spacing: 1px;
}*/
.left a {
    font-weight: bold;
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 1px;
    animation: grow 3.5s ease-in-out infinite;
    position: fixed;
}

.left a::after {
    content: '';
    position: absolute;
    background-color: #e8491d;
    width: 0;
    height: 3px; /* Adjust the height of the underline */
    left: 0;
    right: 0;
    bottom: -4px; /* Adjust the position of the underline */
    transition: width 0.5s ease-in-out; /* Only transition the width */
}

.left a:hover {
    color: #e8491d;
    font-size: 26px;
}

.left a:hover::after {
    width: 100%; /* Expand the underline */
}

@keyframes grow {
    0% {
        font-size: 20px;
    }
    50% {
        font-size: 26px;
    }
    100% {
        font-size: 20px;
    }
}

/* @keyframes glow
{
    0%  {color:white}
    20% {color:violet}
    27% {color:indigo}
    41% {color:blue}
    54% {color:green}
    68% {color:yellow}
    80% {color: orange}
    91% {color: red}
} */


.buttons {
    display: flex;
    justify-content: center;
    padding-top: 60px;
}

/* .button1 {
    background-color: orange;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-flex;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    align-items: center;
}

.button1:hover{
    background-color: white;
    color: orange;
    border-radius: 8px;
    border-color: 1px orange;
    border-style: solid;
}
.button1 a:hover
{
    color: orange;
} */
.contac,.read
{
    background-color: #e8491d;
    color: #fff;
    font-size: 16px;
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 8px;
    margin-left: 8px;
    transition: background-color 0.3s ease;
    border: 1px solid #e8491d;
}

.contac:hover 
{
    background-color: white;
    color: #e8491d;
    border: 2px solid;
}

.read:hover
{
    background-color: white;
    color: #e8491d;
    border: 2px solid;
}
/* FOR CARD */
.cards {
    padding: 10px;
    padding-bottom: 60px;
    border-top: 1px solid wheat;
    border-bottom: 1px solid wheat;
    background-color: rgba(255, 255, 255, 0.05); /* Semi-transparent white background */
    backdrop-filter: blur(1px); /* Apply a blur effect with a moderate amount of blur */
}

.header h1
{
    padding-top: 40px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    /* border-bottom: 1px solid #ddd; */
    color: white;
}
.card {
    margin-top: 45px;
    margin-left: 20;
    padding: 0;
    box-sizing: border-box;
    width: 520px;
    height: 200px;
    /* aspect-ratio: 1 / 0.7; */
    border-radius: 8px;
    position: relative;
    cursor: pointer;
    background-color: #030b0d;
    display: inline-block;
    place-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    text-align: center;
}
.card .image-box {
    width: 100%;
    height: 250px;
    border-radius: inherit;
    
}

.card .image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 90%;
    border-radius: inherit;
    transition: 0.8s ease-in;
    background-size: cover;
    filter: brightness(0.8);
}

.card::after {
    content: "";
    position: absolute;
    inset: 0;
    height: 100%;
    border-radius: inherit;
    opacity: 0;
    transition: 0.4s ease-in-out;
}

.card:hover img {
    filter: grayscale(1) brightness(0.4);
}
    
.card:hover::after {
    opacity: 1;
    inset: 20px;
}

.content 
{
    padding-top: 30px;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.content h2,
.content p {
    opacity: 0;
    transition: 0.4s 0.2s ease;
}

.content h2 {
    margin-bottom: 12px;
    scale: 0.7;
}

.content p {
    font-size: 20px;
    line-height: 1.5;
    color: #d1d1d1;
    transform: translateY(50%);
    overflow: auto;
}
.content p1
{
    padding-top: 30px;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 42%;
    transform: translate(-50%, -50%);
    color: white;
    transition: 0.7s ease-out;
}
.card:hover .content h2 
{
    scale: 1;
    opacity: 1;
}
    .card:hover .content P {
    opacity: 1;
    transform: translateY(0);
    }

.card:hover .content p1
{
    opacity: 0;
    transition: 0.4s 0.2s ease-in-out;
}    